<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Letzdonate</title>

    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->    
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
</head>

<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="#" class="brand-logo darken-1"><img src="images/logo.png" alt="Letz Donate"></a> <span class="logo-text">Letz Donate</a></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <!-- <i class="mdi-action-search"></i> -->
                        <!-- <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/> -->
                    </div>
                    <ul class="right hide-on-med-and-down">
                       <!--  <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"  data-activates="translation-dropdown"><img src="images/flag-icons/United-States.png" alt="USA" /></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i> 
                        
                        </a>
                        </li>                        
                        <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>-->
						
                    </ul>
                    <!-- translation-button -->
                    <ul id="translation-dropdown" class="dropdown-content">
                      <li>
                        <a href="#!"><img src="images/flag-icons/United-States.png" alt="English" />  <span class="language-select">English</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/France.png" alt="French" />  <span class="language-select">French</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/China.png" alt="Chinese" />  <span class="language-select">Chinese</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/Germany.png" alt="German" />  <span class="language-select">German</span></a>
                      </li>
                      
                    </ul>
                    <!-- notifications-dropdown -->
                    <ul id="notifications-dropdown" class="dropdown-content">
                      <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details cyan darken-2">
					<div class="row">
						<div class="col col s4 m4 l4">
							<img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
						</div>
						<div class="col col s8 m8 l8">
							<ul id="profile-dropdown" class="dropdown-content">
								<li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
								</li>
							  <!--   <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
								</li>
								<li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
								</li>
								<li class="divider"></li>
								<li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
								</li> -->
								<li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
								</li>
							</ul>
							<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
							<p class="user-roal">Administrator</p>
						</div>
					</div>
				</li>
                <li class="bold active"><a href="#" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                </li>
				<li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Category Management</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="a_categ_entry.html">Category Entry</a>
                                    </li>
                                    <li><a href="a_categ_list.html">Category List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-social-pages"></i> NGO Management</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="a_ngoreg.html">NGO Registeration</a>
                                    </li>
                                    <li><a href="a_ngoapprove.html">NGO Approval</a>
                                    </li>
                                    <li><a href="a_ngolist.html">NGO List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
				 <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-av-queue"></i> Project Management</a>
                            <div class="collapsible-body">
                                <ul>
                                   <li><a href="a_projectentry.html">Project Entry</a>
                                    </li>
                                    <li><a href="a_project_approval.html">Project Approval</a>
                                    </li>
                                    <li><a href="a_projectlist.html">Project List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
				<li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Donor Management</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="a_donorlist.html">Donor List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
				<li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-swap-vert-circle"></i> Reports</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="a_transaction.html">Transaction History</a>
                                    </li>
									<!-- <li><a href="a_categorylist.html">Category Wise Report</a>
                                    </li> -->
									<li><a href="a_ngolist.html">NGO Wise Report</a>
                                    </li>
									<!-- <li><a href="a_donor_translist.html">Donor Transactions</a>
                                    </li> -->
									<li><a href="a_settlement.html">Settlement Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
			<!-- START CONTENT -->
			<section id="content">
				<div class="container">
				  <div class="section">
						<div id="input-fields">
							 <h4 class="header">Project Entry</h4>
							 <div class="row">
								<form class="col s12" action="projectlist.html">
									<div class="row">
										<div class="input-field col s6">
										  <input id="last_name" type="text" class="validate">
										  <label for="last_name">Project name</label>
										</div>
										 <div class="input-field col s6">
											<select>
											  <option value="" disabled selected>Choose your option</option>
											  <option value="1">Education</option>
											  <option value="2">Medical</option>
											  <option value="3">Hunger</option>
											</select>
											<label>Project category</label>
										 </div>
									</div>
									
									<div class="row">
										<div class="input-field col s12">
											<input id="input_text" type="text" maxlength="133" length="133">
											<label for="input_text">Cause in one line*</label>
										</div>						 	
									</div> 
									
									<div class="row">
										<div class="input-field col s12">
											<textarea id="textarea1" class="materialize-textarea" length=""></textarea>
											<label for="textarea1">Detailed cause*</label>
										</div>						 	
									</div>
									<div class="row">
										<div class="input-field col s6">
										  <div class="switch">
											<label><span>Scope : </span>
											  Target
											  <input onchange="tgd()" id="scope" type="checkbox">
											  <span class="lever"></span> Recurring
											</label>
										  </div>
										</div>
										
										<div class="input-field col s6">
										  <input id="amount" type="text" class="validate">
										  <label for="amount">Amount</label>
										</div>
										
										<div id="tdate" class="input-field col s6">
											<input id="tgdate" type="date" class="datepicker">
											<label for="tgdate">Target Date</label>
										</div>
									</div>
									
									<div class="row">
										<div class="input-field col s6">
										<label><span>Project files : </span></label><br>
											<div class="file-field input-field">
												<div class="btn">
												  <span>File</span>
												  <input type="file" multiple>
												</div>
												<div class="file-path-wrapper">
												  <input class="file-path validate" type="text" placeholder="Upload one or more files">
												</div>
											</div>
										</div>
										<div class="input-field col s6">
										<label><span>Project images : </span></label><br>
											<div class="file-field input-field">
												<div class="btn">
												  <span>File</span>
												  <input type="file" multiple>
												</div>
												<div class="file-path-wrapper">
												  <input class="file-path validate" type="text" placeholder="Upload one or more files">
												</div>
											</div>
										</div>
									</div>
									<br><br>
									<div class="row">
										<div class="col s12 right-align">
										  <button class="btn waves-effect waves-light " type="submit" name="action">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END CONTENT -->
			
			
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START RIGHT SIDEBAR NAV-->
		<aside id="right-sidebar-nav">
	    </aside>
	<!-- END RIGHT SIDEBAR NAV-->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
 
</body>
<script>
	function tgd(){
		var status = $('#scope').prop('checked');
		if(status == true){
			$('#tdate').hide();
		}else{
			$('#tdate').show();
		}
	}
</script>
</html>