 /******************************************************************************************** Common *************************************/
.img-100{width:100%!important;}
.img-80{width:80%!important;}
.img-60{width:60%!important;}
.img-drop{filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.2))!important;}
.pad-0{padding:0%!important;}
.pad-2{padding:2%!important;}
.pad-3{padding:3%!important;}
.pad-4{padding:4%!important;}
.d-none-web{display:none;}
.btn-web{margin-top:0px!important; padding:9% 19%!important;}
@media screen and (max-device-width: 800px) {
.d-none-web{display:block;}
.btn-web{margin-top:0px!important; padding:4% 11%!important;}
}
*{
	text-decoration:none!important;
	/* list-style:none!important; */
	overflow-x:hidden;
}

.btn{
	background:#00B964;
	color:#FFF;
	border:none!important;
	filter:drop-shadow(0px 2px 3px rgba(0,0,0,0.3));
	transition: all 0.3s ease 0s!important;
	border-radius:50px!important;
	margin-top: -8px!important;
}
.btn:hover{
	background:#00B964;
	filter:drop-shadow(0px 0px 0px rgba(0,0,0,0.3));
	color:#FFF;
	transform: translateY(7px);
}

	/******************************************************************************************** Header starts *************************************/
body {
	font-family: 'Lato', sans-serif!important;
}
.navbar-brand{
	padding:0!important;
	width:200px;
	height:auto;
}
.navbar{
  background:rgba(255,255,255,0);
  /* transition:padding 0.2s ease;  */
  /* padding:0.5em!important; */
}
.navbar-collapse{margin-left:190px!important;}
.nav-link{
	color:white!important;
}
.dropdown-item{
	color:black!important;	
}
.dropdown-item:hover{
	color:#3494F9!important;	
}
.nav-item{
	margin-right:40px;
}
.affix {
	background:#fff;
	padding-top:0em !important;
	padding-bottom:0em !important;       
	transition:padding 0.2s linear;  
	color:white!important;
	box-shadow:0px 2px 10px rgba(0,0,0,0.3);
}
.nav-link-white, .dropdown-item-white{
	color:white!important;	
}
.custom-toggler, .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
.navbar-toggler{
	outline:none!important;
}
.dropdown-menu{
	border-radius:0rem!important;
	
	
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
/******************************************************************************************** Header Media queries *************************************/ 
@media only screen and (max-width : 1200px) {
.navbar, .affix{
 background:#fff;
  padding-top:0em !important;
  padding-bottom:0em !important;       
  transition:padding 0.2s linear;  
  color:white!important;
 
}
.navbar-collapse{margin-left:30px!important;}
	
}
	/******************************************************************************************** Header Ends *************************************/

/******************************************************************************************** footer Starts *************************************/
.my-footer{
	height:auto;
	background:#E8E8E8;
	overflow:auto;
}
.ul-header{
	padding:0!important;
}
.ul-header > li{
	margin-top:15px!important;
}


a{
	color:rgba(0,0,0,1)!important;
}
li{cursor:pointer;}



.sprite-icon1-ftr{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:32px;
	margin-right:2%!important;
	height:32px;
	cursor:pointer;
}
.fb{background-position:-839px -46px}
.insta{background-position:-885px -46px}
.twitr{background-position:-931px -46px}
.goo{background-position:-978px -46px}

.fb:hover{
	background-position:-839px -85px;
	transition:0.5s;
}
.insta:hover{
	background-position:-885px -85px;
	transition:0.5s;
}
.twitr:hover{
	background-position:-931px -85px;
	transition:0.5s;
}
.goo:hover{
	background-position:-978px -85px;
	transition:0.5s;
}
hr{
	background:#000;
	width:100%;
	opacity:0.5;
}

	/******************************************************************************************** footer media queries *************************************/
@media screen and (max-device-width: 800px) {
.ftr-mar{margin-left:0%!important;}
.offset-1{margin-left:0%!important;}
}
	/******************************************************************************************** Footer ends *************************************/

	.container-fluid{
	padding:0px!important;	
}
.img{
	width:100%;
}
/************************************************************************************************************************************************
******************************************************************************************** Homepage starts *************************************/

	/******************************************************************************************** banner starts *************************************/
.banner{
	position:relative!important;
	height:419px!important;
}
.banner-bg{
	position:absolute!important;
	top:0px;
	left:0px;
	background:url(../../images/web/homepage/Homepage-02.png) no-repeat;
	width:100%;
	height:419px;
	z-index:2!important;
}
.carousel-item-banner img{
	height:419px;
	z-index:1!important;
}

/******************************************************************************************** banner  Media queries *************************************/

@media screen and (max-device-width: 800px) {
.banner {
	margin-top: 16%;
	width:100%!important;
    height: 190px!important;
}
.banner-bg{
	display:none;
}
.carousel-item-banner img{
	height: 100%;
    width: 160%!important;
    overflow-x: hidden;
    z-index: 1!important;
    transform: translateX(-209px);
	
}
}

/******************************************************************************************** banner ends *************************************/


/******************************************************************************************** sec-1 starts *************************************/

.emergency{
	clear:both;
	width:100%;
	background:#E3FFEE;
}
.em-box{padding:3%;}
.em-content{
	padding:10% 6% 10% 6%!important;
	border-radius:12px;
}

.em-content img{
	border-radius:50px!important;
	width:80px;
	height:80px;
}
.em-pro-deatils{margin-left:41%!important;}
.category{color:#009BD8;}
.date{color:#565656;}
.sec-1-prev{margin-left: -55px!important;}
.sec-1-next{margin-right: -54px!important;}
.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black!important;
	color:#000!important;
}
.carousel-control-prev-icon{
   background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')!important;
}
.carousel-control-next-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
}

/******************************************************************************************** sec-1 media queries *************************************/
@media screen and (max-device-width: 800px) {
.sec-1-prev{margin-left: 0px!important; display:none!important;}
.sec-1-next{margin-right: 0px!important; display:none!important;}
}
	
/******************************************************************************************** sec-2 starts *************************************/

.sec-2{
	text-align:center;
}
.sprite-icon-sec2{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:60px;
	height:60px;
}
.who{background-position:-46px -39px;}
.why{background-position:-156px -39px;}
.what{background-position:-267px -39px;}
/******************************************************************************************** sec-2 ends *************************************/

/******************************************************************************************** sec-3 starts *************************************/

.sec-3{
	background:#F2F2F2;
	height:auto;
	width:100%;
	overflow:auto;
}
.sec-3-im{border-radius:8px;}
.education{
	background:url(../../images/web/homepage/Homepage-07.png) no-repeat;
	width:100%;
	background-size:cover;
	height:400px;
}
.medical{
	background:url(./images/web/homepage/Homepage-08.png) no-repeat;
	width:100%;
	background-size:cover;
	height:200px;
}
.necessity{
	background:url(../../images/web/homepage/Homepage-09.png) no-repeat;
	width:100%;
	background-size:cover;
	height:185px;
}
.hunger{
	background:url(../../images/web/homepage/Homepage-10.png) no-repeat;
	width:100%;
	background-size:cover;
	height:185px;
}
.sec-3-content{
	color:#fff;
	bottom:0;
	position:absolute;
	padding:3%;
	text-shadow: 2px 2px 5px #000;
}
/******************************************************************************************** sec-3  Media queries *************************************/
@media screen and (max-device-width: 800px) {
.sec-3-im{height:200px;padding:0%;}
.sec-mobile{padding:2% 0% 0% 0%!important;}	
}


/******************************************************************************************** sec-4 starts *************************************/
.sec-4{
	height:auto;
}
.stories-box{
	border-radius:8px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.2);
	height:auto;
}
.sec-4-pro-date{
	text-align:center;
	background:#00B964;
	margin-top:5%;
	color:#fff;
}
.sec-4-pro-title{
	padding:4%;
}
/******************************************************************************************** sec-4 ends *************************************/

/******************************************************************************************** sec-5 starts *************************************/

.sec-5{
	background:url(../../images/web/homepage/Homepage-15.png) no-repeat;
	background-size:cover;
	height:auto;
	color:#fff;
}
.sprite-icon-sec5{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:80px;
	height:80px;
}
.medi-icon{background-position:-359px -39px}
.nece-icon{background-position:-599px -39px}
.edu-icon{background-position:-481px -39px}
.hun-icon{background-position:-722px -39px}
.sec-5-h3{padding:6%}
.right-border{
	border-right:1px solid #fff;
}
.bottom-border{
	border-bottom:1px solid #fff;
}
.sec-5-content{padding:5%;}
.sec-5-col{
	border-right:1px solid white;	
}
.sec-5-singleblock{
	margin:20% 0%;
}
.sec-5-lastblock{
	margin-top:48%;
}
/******************************************************************************************** sec-5 media queries *************************************/
@media screen and (max-device-width: 800px) {
.sec-5{
	background-size:cover;
}
.sec-5-col{
	border-right:none;	
}
.sec-5-lastblock{
	margin:20% 0%;
}
}
/******************************************************************************************** sec-5 ends *************************************/

/******************************************************************************************** Sec 6 Starts*************************************/

.sec-6{
	background:url(../../images/web/homepage/Homepage-16.png) no-repeat;
	background-size:cover;
	height:auto;
	
}
/******************************************************************************************** Sec 6 media queries*************************************/
@media screen and (max-device-width: 800px) {
.sec-6{
	background-size:cover;
}
}
/******************************************************************************************** Sec 6 Starts*************************************/

/************************************************************************************************************************************************
******************************************************************************************** Homepage ends *************************************/

/************************************************************************************************************************************************
******************************************************************************************** Project page starts *************************************/
.section{padding:6% 0% 0% 2%!important;}
.project{padding:1% 0% 2% 0%!important;border-right:1px solid #AFAFAF;}
.pro-project{
	margin-top:3%;
}
.pro-project-head{
	color:#00B964;
	line-height:45px;
}
.pro-project-detail{
	text-align:justify;
	padding:1% 0% 0% 3%!important;
	font-size:17px;
	line-height:30px;
}
.readmore{
	color:#007FBF
}
.pro-raised{margin-left:3%!important;}
.pro-raised-rup{font-size:23px!important;}
.pro-hr{border:1px solid #AFAFAF;margin-top:4%;}
.vr-line{
	border-left:1px solid #AFAFAF;
    height:1400px!important;
	margin-top:3%;
}
.pro-sidebar-catline{width:100px;float:left;background:#00B964;margin-top:2%;}
.pro-sidebar-recline{width:70px;float:left;background:#00B964;margin-top:2%;}
.pro-sidebar-cat{line-height:40px;font-size:18px;margin-top:2%!important;}
.pro-recent{margin-top:6%;}
.sidebar-pro-date{font-style: italic;opacity:0.8;}
.pro-sidebar{margin-top:3%}


/******************************************************************************************** Project media queries*************************************/
@media screen and (max-device-width: 800px) {
.section{padding:14% 0% 0% 2%!important;}
.project{padding:5% 0% 2% 0%!important;}
.pro-project-detail{
	padding:2% 0% 0% 1%!important;
}
.pro-raised{margin-left:0%!important;}	
.vr-line{
	border-left:1px solid #fff;
    height:780px!important;
	margin-top:3%;
}
}
/************************************************************************************************************************************************
******************************************************************************************** Project page ends *************************************/

/************************************************************************************************************************************************
******************************************************************************************** Aboutus page starts *************************************/


.aboutus-banner{
	background:url(../../images/web/aboutus/aboutUs-02.jpg)no-repeat center;
	background-size:cover;
	width:100%;
	height:400px;
	margin-top:5%;
}
.about-who-line{width:150px;height:1px;float:left;background:#00B964;margin-top:1%;}
.about-why-line{width:80px;height:1px;float:left;background:#00B964;margin-top:1%;}
.about-who-content{font-size:18px;}
.about-why-sec{padding:2%!important}
.sprite-icon-aboutwhy{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:23px;
	height:34px;
}
.aboutwhy{background-position:-1031px -44px;}
.about-why-1{margin-left:7%!important;}
.about-why-2{margin-left:14%!important;}
.about-why-3{margin-left:0%!important;}
.bullets li::before {
	display: inline-block;
    content: '';
    border-radius:50%;
    height: 0.45rem;
    width: 0.45rem;
    margin-right: 1rem;
    margin-bottom:0.1rem;
    background-color: rgba(0,0,0,0.6);
}

/******************************************************************************************** Aboutus media queries*************************************/
@media screen and (max-device-width: 800px) {
.about-why-sec{padding:1%!important}
.about-why-1{margin-left:0%!important;}
.about-why-2{margin-left:0%!important;}
.about-why-3{margin-left: -4%!important;}

}
/************************************************************************************************************************************************
******************************************************************************************** Aboutus page ends *************************************/

/************************************************************************************************************************************************
******************************************************************************************** Singleproject page starts *************************************/
.single-pro-head{line-height:45px;}
.single-italic-line{
	border-left:4px solid #E5E5E5;
	font-style:italic;
	padding:2%;
	font-size:18px;
	color:#606060;
}
.single-raised-box{
	padding:2%;
	background:#E5E5E5;
	font-size:20px;
}
.single-target{color:#00B964;font-size:34px;}
.single-raised-rup{font-size:36px;}
.single-raised-border{border-right:1px solid #aaaaaa}
.single img{margin:3% 0%;width:900px}
.single p{font-size:18px;line-height:35px;margin-top:2%;}
.single a{color:#00B964!important;}
.single-sidebar{
	margin-top:2%;
	padding:2%!important;
}
.single-sidebar-box{
	background:#fff;
	filter:drop-shadow(0px 2px 10px rgba(0,0,0,0.1));
	/* box-shadow:0px 0px 5px rgba(0,0,0,1); */
}
.single-btn{
	border-radius:3px!important;
}

/******************************************************************************************** Singleproject media queries*************************************/
@media screen and (max-device-width: 800px) {
.single img{width:330px;}
}

/************************************************************************************************************************************************
******************************************************************************************** Singleproject page ends *************************************/

/************************************************************************************************************************************************
******************************************************************************************** Contact page starts *************************************/
.con-sec{margin-top:5%;}
.contact{
	background:url(../../images/web/contact-02.png);
	background-size:cover;
	width:100%;
	height:300px;
	z-index:1;
}
.contact-box{
	background:#fff;
	padding:2%;
	filter:drop-shadow(0px 2px 10px rgba(0,0,0,0.3));
	border-radius:8px;
	margin-top:-120px;
	position:relative;
}
.contact-get{border-right:1px solid #afafaf}
.sprite-icon-contact{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:32px;
	height:32px;
	margin-right:4%;
}
.location{background-position:-1069px -44px;}
.mail{background-position:-1116px -44px;}
.phone{background-position:-1162px -44px;}
.contact-get-content{
	margin-top:6%;
}
.sprite-icon1-contact{
	background:url(../../images/web/sprite_icons-01.png) no-repeat;
	width:42px;
	margin-right:2%!important;
	height:42px;
	cursor:pointer;
}
.contact-fb{background-position:-839px -85px;}
.contact-insta{background-position:-885px -85px;}
.contact-twitr{background-position:-931px -85px;}
.contact-goo{background-position:-978px -85px;}
.contact-social{margin-top:10%;}
.contact-field{margin-top:3%;}



/******************************************************************************************** Contact media queries*************************************/
@media screen and (max-device-width: 800px) {
.contact-get{border-right:1px solid #fff}
.contact-follow{
	margin-top:8%!important;
}



}
/************************************************************************************************************************************************
******************************************************************************************** Contact page ends *************************************/


/********************************************************************************* NGO Registration Starts *****************************/
.ngo-wrap{
	padding-top:8%;
}
.ngo-wrap h2{
	line-height:84px;
}
.ngo-field-titles{
	margin-left: 15px;
    line-height: 40px;
    font-size: 20px;
}
.ngo-addbtn{
	background: #00B964;
    margin-top: 38px!important;
    border: none;
    padding: 6px 21px;
    color: white;
    cursor: pointer;
}
.ngo-btn{
	background: #00B964;
    margin:5%!important;
    border: none!important;
	border-radius:4px;
    padding:1% 10%;
    color: white;
    cursor: pointer;
	filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.15));
}
.ngo-btn:hover{
	filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.15));
}
@media screen and (max-device-width: 800px) {
.ngo-wrap{
	padding-top:20%;
}
.ngo-addbtn{
	margin:10px 0px 10px 17px!important;
}
}

/********************************************************************************* NGO Registration Ends *****************************/

/********************************************************************************* Login Starts *****************************/
.login-wrap{
	padding:3% 3% 1% 3%;
	margin:5%;
}
.log-reg-wrap{
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,0.15));
	background:#FFF;
	padding:4%;
}
.form-control1 {
	 outline: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none!important;
    border-bottom: 1px solid #CCCCCC!important;
    border-radius: 0!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control1::placeholder{
	color: #cccccc;
}
.divider {
    width:50%;
}
.divider > span {
    font-size: 16px;
    line-height: 36px;
    background-color: #fff;
    padding: 0 10px;
	z-index:2;
}

@media screen and (max-device-width: 800px) {
.login-wrap{
	padding:5%;
	margin:15%;
}	
.log-reg-wrap{
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,0.15));
	background:#FFF;
	padding:4%;
}
}

.defaultimage{
	height:550px;
	overflow: hidden;
}
.previmage{
	height:166px;
}
.featuredimage{
	height:238px;
}
/********************************************************************************* Login Ends *****************************/